.feedback-section {
  width: 100%;
  padding: 100px 130px;
  font-family: "Poppins", sans-serif;
}

/* TOP */
.feedback-header {
  text-align: center;
  margin-bottom: 70px;
}

.feedback-tag {
  display: inline-flex;
  background: #e2e2e2;
  padding: 4px 30px 4px 6px;
  border-radius: 30px;
  font-weight: 500;
  align-items: center;
  gap: 20px;
}

.tag-icon {
  background: #02055b;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-img {
  width: 45%;
  height: 45%;
}

.feedback-header h2 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 20px;
}

.italic-text {
  font-style: italic;
  color: #02055b;
}

/* BOTTOM */
.feedback-body {
  display: flex;
  align-items: flex-start;
}

.left-box {
  width: 30%;
}

.left-box h1 {
  font-size: 110px;
  margin: 0;
}

.left-text {
  font-size: 18px;
  margin-top: -15px;
}

.discuss-btn {
  background: #dcdcdc;
  border: none;
  padding: 6px 24px 6px 6px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 40px;
  gap: 15px;
  cursor: pointer;
}

.circle-arrow {
  background: #02055b;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-arrow img {
   width: 18px;
  height: 18px;
}

/* RIGHT */
.right-box {
  width: 85%;
  border-left: 2px solid #d6d6d6;
  padding-left: 50px;
}

.quote {
  font-size: 60px;
  color: #02055b;
  margin-bottom: 10px;
}

.review {
  font-size: 24px;
  line-height: 1.6;
  width: 100%;
  height: 150px;
  padding-left: 40px;
}

.profile-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 40px;
}

.profile img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.profile h4 {
  font-size: 17px;
  margin: 0;
}

.profile span {
  font-size: 14px;
  color: #666;
}

/* Arrows */
.nav-arrows {
  display: flex;
  gap: 20px;
}

.arrow-btn {
  width: 50px;
  height: 50px;
  background: #02055b;
  border-radius: 50%;
  color: white;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}
.arrow-btn img{
  width: 18px;
  height: 18px;
}
