.products-section {
  background-color: #050b3d;
  padding: 100px 100px;
  color: #fff;
  /* font-family: "Poppins", sans-serif; */
}

/*  TOP CENTER */
.top-center {
  text-align: center;
  margin-bottom: 60px;
}
.tag {
  background: #D9D9D9;
  border-radius: 30px;
  padding: 4px 30px 4px 4px;
  font-size: 24px;
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-family: WF Visual Sans;
}

.tag-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000c5a; /* circle background */
  display: flex;        /* make it flex to center image */
  align-items: center;  /* vertically center */
  justify-content: center; /* horizontally center */
  padding: 0;           /* remove padding, center via flex */
}

.boxicon {
  width: 40%;          /* smaller than circle for "kutty" look */
  height: 40%;
  object-fit: contain;
  border-radius: 50%;
}


.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
  padding-top: 30px;
}

.title span {
  background: linear-gradient(90deg, #8f1f75 0%, #ff006e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: 600;
}



/* LEFT & RIGHT LAYOUT */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
}

.left-image img {
  width: 240px;
  height: 350px;
  border-radius: 18px;
  object-fit: cover;
}

/* PRODUCT LIST RIGHT */
.right-list {
  flex: 1;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff22;
  padding-bottom: 18px;
  font-size: 28px;
}

.view-link {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

.view-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow {
  font-size: 22px;
  opacity: 1;
  transition: 0.3s;
}
.arrow img {
  width: 18px;
  height: 16px;
}

.view-link {
  opacity: 0.7;
}

.product-row:hover .view-link {
  opacity: 1;
}
.product-row {
  position: relative;
  overflow: hidden;
}

.product-row::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #d0177c; /* active hover color */
  transition: width 0.4s ease;
}

.product-row:hover::after {
  width: 100%;
}

/* Responsive */
@media (max-width: 900px) {
  .products-section {
    padding: 50px 25px;
  }
  .content-wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .title {
    font-size: 32px;
  }
}
