* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f3f0ec;
  overflow-y: auto; /* body scroll enable */
}

/* MAIN LAYOUT */
.layout {
  display: flex;
  min-height: 100vh; /* height illa, min-height */
  padding-top: 70px;
}

/* LEFT SIDE - FREEZE */
.left {
  width: 40%;
  padding: 120px 60px 60px; /* top padding increase */
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* BIG BLOG TEXT */
.big-text {
  font-size: 110px;
  font-weight: 800;
  line-height: 0.95;
  color: #03045E;
}

/* SUB TEXT */
.sub-text {
  margin-top: 40px; /* konjam keela move */
  font-size: 20px;
  color: #333;
}

.blog-discover-btn {
  margin-top: 25px;
}

/* RIGHT SIDE - CONTENT */
.right {
  width: 60%;
  padding: 60px;
}

/* BLOG CARD */
.blog-card {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

/* IMAGE */
.blog-card img {
  width: 260px;
  height: 360px;
  object-fit: cover;
  border-radius: 6px;
}

/* CONTENT */
.content {
  max-width: 420px;
}

/* DATE */
.date {
  font-size: 12px;
  letter-spacing: 1px;
  color: #777;
}

/* TITLE */
.content h2 {
  font-size: 28px;
  margin: 15px 0;
  color: #111;
}

/* DESCRIPTION */
.content p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}

/* BUTTON */
