

:root {

  --main-text: #000000; 
}

@font-face {
  font-family: "WF Visual Sans";
  src: url("/public/fonts/V0.3/V0.3/VF/WFVisualSansVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.traningwhychoose-stat-section {
    background-color: #ffffff; 
    padding: 20px 0; 
    font-family: "WF Visual Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.traningwhychoose-stats-container {
    max-width: 2000px;
    width: 100%;
    margin: 40px auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.traningwhychoose-stat {
   flex-shrink: 0;
    text-align: center;
}

.traningwhychoose-stat-number {
 
  font-family: "WF Visual Sans";
  font-size: 58px; 
  font-weight: 500; 
  color: #000000; 
  margin-bottom: 4px;
  white-space: nowrap;
 
  line-height: 100%;
  letter-spacing: 0.01em; 
}

.traningwhychoose-stat-label {
  
  font-family: "WF Visual Sans";
  font-size: 14px; 
  font-weight: 400; 
  color: #000000;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .traningwhychoose-stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 பத்திகள் */
    gap: 30px 20px;
    justify-items: center; 
  }
}

@media (max-width: 480px) {
  .traningwhychoose-stats-container {
    grid-template-columns: 1fr; /* 1 பத்தி */
  }
}