

:root {
  /* Colors */
  --main-bg: #f4f7fb;
  --main-text: #222222;
  --primary-color: #007bff;
  --secondary-color: #555555;
--button-primary : #101166;
--button-secondary:#D9D9D9;
--playfair-fonts:'Playfair Display', serif;
  /* Font Sizes */
  --heading-font-size: 32px;       /* H1 */
  --subheading-font-size: 24px;    /* H2 */
  --title-font-size: 20px;         /* H3 */
  --description-font-size: 16px;   /* Paragraph */
  --small-text-font-size: 14px;    /* Small text */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

