:root {
  --main-bg: #f4f7fb;
  --main-text: #222222;
  --primary-color: #007bff;
  --secondary-color: #555555;
  --button-primary: #101166;
  --button-secondary: #D9D9D9;
  --playfair-fonts: "Playfair Display", serif;
  --heading-font-size: 32px;
  --subheading-font-size: 24px;
  --title-font-size: 20px;
  --description-font-size: 16px;
  --small-text-font-size: 14px;
}

@font-face {
  font-family: "WF Visual Sans" !important;
  src: url("/public/fonts/V0.3/V0.3/VF/WFVisualSansVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}



.stats-section {
  width: 100%;
  text-align: center;
  /* padding: 40px 0; */
  background: #fff;
}

/* Banner Image */
.banner-wrapper {
  width: 90%;
  margin: auto;
}

.banner-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
  transform: scale(0.8); /* starting with small size */
  transition: transform 0.2s ease-out;
  will-change: transform;
}


/* Heading */
.stats-heading {
  margin: 40px 0;
  color: #000;
    font-family: "WF Visual Sans" !important;

}

.stats-heading h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.stats-heading span {
  font-weight: 400;
}

.stats-heading i {
  font-weight: 400;
}
.stats-cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  text-align: center;
  gap: 20px 25px;
}

.stats-card {
  background: #fafafa;
  padding: 25px 20px;
  border-radius: 15px;
}

.stats-card h1 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  font-family: "WF Visual Sans" !important;

}

.desc {
  font-size: 14px;
  color: #555;
  width: 85%;
  margin: 8px auto 25px auto;
  line-height: 20px;
      font-family: "WF Visual Sans" !important;

}


/* Responsive */
@media (max-width: 768px) {
  .banner-img {
    height: 250px;
  }

  .stats-heading h2 {
    font-size: 24px;
  }

  .stats-cards {
    gap: 15px;
  }

  .stats-card {
    width: 100%;
  }
    .stats-card h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 5px;
}
}
